<template>
  <div class="privacy-policy">
    <h1>Privacy Policy for Swappy</h1>
    <p>Welcome to the Swappy app, a platform dedicated to facilitating the simple exchange of coins.</p>
    <h2>Data Collection and Use</h2>
    <p>Swappy does not collect, store, or share any personal information from its users. All coin swaps are conducted anonymously without any need for personal data.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about this privacy policy, please feel free to <a href="mailto:info@swappy.com">contact us</a>.</p>
  </div>
</template>

<style scoped>
.privacy-policy {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}
h1 {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}
p {
  color: white;
}
</style>
