<template>
  <div class="w-full h-14 toolbar flex items-center justify-center">
    <a class="px-2 text-xl text-bold text-white cursor-pointer">about us</a>
    <a class="px-2 text-xl text-bold text-white cursor-pointer">contact us</a>
    <a class="px-2 text-xl text-bold text-white cursor-pointer" href="#download">download</a>
    <a class="px-2 text-xl text-bold text-white cursor-pointer" href="privacy-policy">privacy policy</a>
    <a class="px-2 text-xl text-bold text-white cursor-pointer" href="terms-of-service">terms of service</a>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.toolbar {
  background: rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255,255,255,0.125);
}
</style>
