@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  background: rgba(18, 18, 20, 0.93);
  background: -webkit-linear-gradient(198deg, rgba(18, 18, 20, 0.93) 0%, rgba(222, 109, 109, 0.78) 50%, rgba(227, 206, 16, 0.71) 100%);
  background: linear-gradient(198deg, rgba(18, 18, 20, 0.93) 0%, rgba(222, 109, 109, 0.78) 50%, rgba(227, 206, 16, 0.71) 100%);
}
