<template>
  <QLayout view="lHh Lpr lFf">
    <q-page-container>
      <slot/>
    </q-page-container>
  </QLayout>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">

</style>
