<template>
  <q-page>
    <my-toolbar />
    <section>
    <div class="w-full space-y-4 flex flex-col items-center justify-center text-5xl p-4 text-white text-bold">
      <span>Exchange your</span>
      <span>Cryptocurrency</span>
      <span>Here safely</span>
    </div>
    </section>
    <section class="w-full flex items-center justify-center p-10">
      <div class="w-full md:w-1/2 section-2 rounded-xl grid grid-cols-2 relative-position">
        <div class="w-full flex items-center justify-center border-b-2 border-white p-4 h-28">
          <img  class="w-14 h-14" src="~assets/icons/bitcoin.png">
          <span class="px-4 text-xl text-bold">BITCOIN</span>
        </div>
        <div class="w-full flex items-center justify-center border-b-2 border-white border-l-2 p-4 h-28">
          <img  class="w-14 h-14" src="~assets/icons/ethereum.png">
          <span class="px-4 text-xl text-bold">ETHEREUM</span>
        </div>
        <div class="w-full flex items-center justify-center p-4 h-28">
          <div class="w-full text-center">Sent amount</div>
          <div class="w-full text-center">0.025</div>
        </div>
        <div class="w-full flex items-center justify-center border-white border-l-2 p-4 h-28">
          <div class="w-full text-center">Get amount</div>
          <div class="w-full text-center">2.3612</div>
        </div>
        <img  class="absolute-center w-8 h-8 rounded-xl clip" src="~assets/icons/swap.png">
      </div>
    </section>
    <section class="mt-8 w-full flex p-2">
      <div class="p-2 w-full md:w-1/2 grid grid-cols-1 gap-2 md:grid-cols-2">
        <div class="flex flex-col items-center justify-center rounded-xl section-2 p-2">
          <img  class="w-10 h-10" src="~assets/icons/secure.png">
          <div class="text-bold">Secure Transaction</div>
          <div class="text-center">A secured transaction is a transaction in which a security interest is created.</div>
        </div>
        <div class="flex flex-col items-center justify-center rounded-xl section-2 p-2">
          <img  class="w-10 h-10" src="~assets/icons/transfer.png">
          <div class="text-bold">Simple Way Transfer</div>
          <div class="text-center">A secured transaction is a transaction in which a security interest is created.</div>
        </div>
        <div class="flex flex-col items-center justify-center rounded-xl section-2 p-2">
          <img  class="w-10 h-10" src="~assets/icons/trusted.png">
          <div class="text-bold">Trusted Platform</div>
          <div class="text-center">A secured transaction is a transaction in which a security interest is created.</div>
        </div>
        <div class="flex flex-col items-center justify-center rounded-xl section-2 p-2">
          <img  class="w-10 h-10" src="~assets/icons/bitcoin.png">
          <div class="text-bold">Secure Transaction</div>
          <div class="text-center">A secured transaction is a transaction in which a security interest is created.</div>
        </div>
      </div>
      <div class="p-2 w-full md:w-1/2 flex">
        <div class="w-full text-bold text-4xl text-white">Most trusted and Secure Exchange platform</div>
        <div class="w-full mt-2 text-white">
          Centralized cryptocurrency exchanges act as an intermediary between a buyer and a seller and make.
        </div>
        <div class="mt-4 text-white">Money through commissions and transaction fees</div>
      </div>
    </section>
    <section class="mt-8 w-full flex p-2 section-2 px-8">
      <div class="w-full md:w-1/2 flex flex-col">
        <div class=" p-4 text-4xl text-white text-bold">We will help you to start cryptocurrency exchange</div>
        <div class="w-full mt-2 text-white">
          Centralized cryptocurrency exchanges act as an intermediary between a buyer and a seller and make.
        </div>
      </div>
      <div class="w-full md:w-1/2 flex items-center justify-center md:justify-end">
        <img class="w-[360px] h-64" src="~assets/images/bitcoin.png">
      </div>
    </section>
    <section class="flex w-full">
      <div class="text-4xl text-white w-full p-8">Most Top Rated cryptocurrency</div>
      <div class="flex justify-center items-center w-full">
      <img src="~assets/images/frame.png">
      </div>
    </section>
    <section id="download" class="mt-8 w-full flex p-2 section-2 px-8">
      <div class="w-full text-center text-4xl text-white">Start exchange on Swappy</div>
      <div class="w-full flex mt-4 items-center justify-center">
        <div class="px-2">
          <img class="h-[400px]" src="~assets/images/screen1.png">
        </div>
        <div class="px-2">
          <img class="h-[400px]" src="~assets/images/screen1.png">
        </div>
        <div class="px-2">
          <img class="h-[400px]" src="~assets/images/screen1.png">
        </div>
      </div>
      <div class="w-full text-center text-4xl text-white mt-4">Download Now!</div>
      <div class="w-full flex justify-center items-center mt-4">
        <img class="px-2" src="~assets/images/google.svg">
        <img class="px-2" src="~assets/images/apple.svg">
      </div>

    </section>
    <footer class="footer">
      <p>© 2024 Swappy. All Rights Reserved.</p>
    </footer>

  </q-page>
</template>

<script setup lang="ts">

import MyToolbar from '~/components/MyToolbar.vue'
</script>

<style scoped lang="scss">
.section-2 {
  background: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.1);
}
.clip {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  padding: 4px;
  background-color: white;
}
.footer {
  margin-top: 10px;;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
}
</style>
