<template>
  <div class="privacy-policy">
    <h1>Terms of Service for Swappy</h1>
    <p>
      Welcome to Swappy. By using our app, you agree to these Terms of Service. You must not misuse our service or use it for any illegal activities. We provide the app 'as is,' and can't guarantee it will be suitable for specific needs or always be available. We're not liable for any losses or damages from using our service. We may update these terms and will notify you of changes. If you don't agree to the terms, please don't use Swappy. Contact us at info@swappy.com with questions.

    </p>
  </div>
</template>

<style scoped>
.privacy-policy {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}
h1 {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}
p {
  color: white;
}
</style>
<script setup lang="ts">
</script>
